
<form class="form-inline" role="form" id="search_form"  >
	<div class="form-group">
	    <label class="sr-only" for="search_input"> Go </label>
	    <input type="text" class="form-control" id="search_input" placeholder="Enter #">
  	</div>

  	<select class="form-control" id="search_options">
  		<option>Review</option>
	 	<option>Product</option>
		<option>User</option>
	</select>
		<button type="submit" class="btn btn-default"> Go </button>
</form>

<div class="row" id="header">
	<h1 class="col-md-12"> <a href="/">Dashboard</a> </h1>
</div>
<div class="row" id="menu">

		{{^review_cat}}
			<a href="/reviews"  class="col-md-4 menu_item">
				Reviews <span class="glyphicon glyphicon-pencil"></span>
			</a>
		{{/review_cat}}

		{{#review_cat}}
			<div class="col-md-4 menu_item active">
				Reviews <span class="glyphicon glyphicon-pencil"></span>
			</div>
		{{/review_cat}}

		{{^user_cat}}
	  		<a href="/users" class="col-md-4 menu_item">
	  			Users <span class="glyphicon glyphicon-user"></span>
	  		</a>
  		{{/user_cat}}

  		{{#user_cat}}
  			<div href="/users" class="col-md-4 menu_item active">
  				Users <span class="glyphicon glyphicon-user"></span>
  			</div>
  		{{/user_cat}}

  		{{^product_cat}}
	  		<a href="/products"  class="col-md-4 menu_item">
				Products <span class="glyphicon glyphicon-tags"></span>
			</a>
		{{/product_cat}}

		{{#product_cat}}
			<a href="/products"  class="col-md-4 menu_item active">
				Products <span class="glyphicon glyphicon-tags"></span>
			</a>
		{{/product_cat}}
</div>
