<h3> Statistics </h3>

<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis aliquet augue. Donec urna neque, sollicitudin sit amet enim a, dignissim porta tortor. Proin auctor leo leo, id tempus dolor pharetra eget. Ut aliquet convallis lacus, nec pretium lorem faucibus ut. Quisque nec felis id est semper aliquam luctus euismod neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel viverra odio. Morbi eget libero ut nibh porta elementum.
</p>


<div class="row">
  <div class="col-md-4">
  	<h3> Worst 10 Reviews </h3>
		<table class="table table-hover">
			<th>Review id</th>
			<th>Honesty</th>

			{{#result}}
			  <tr>
			  	<td>{{rid}}</td>
			  	<td class="danger">{{hon}}</td>
			  </tr>
			{{/result}}
		</table>
  </div>

  <div class="col-md-4">
  		<h3> Worst 10 Users </h3>
		<table class="table table-hover">
		<th>Review id</th>
		{{#result}}
	  <tr><td>{{rid}}</td></tr>
		{{/result}}
	</table>
  </div>
  <div class="col-md-4">
<h3> Worst 10 Products </h3>
<table class="table table-hover">
	<th>Review id</th>
	{{#result}}
  <tr><td>{{rid}}</td></tr>
	{{/result}}
</table>
  </div>
</div>








