<!doctype html>
<html lang="en">
	<head>
		<title> Spam Review Detection </title>
	</head>
	<body>	
	<div class="container">
		{{> menu}}
		{{> search}}
	    {{> content}}

	</div>
  

	</body>



	 <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
	 <link rel="stylesheet" type="text/css" href="/css/style.css"/>
	 <script type="text/javascript" src="/js/jquery.min.js"></script>
	 <script type="text/javascript" src="js/bootstrap.min.js"></script>
</html>
