<!doctype html>
<html lang="en">
	<head>
		<title> Spam Review Detection </title>
		 {{> includes}}

	</head>
	<body>	
		<div class="container">
			{{> header}}
		    {{> contentIndex}}
		    {{> footer }}
		</div>
	</body>
</html>
