<!doctype html>
<html lang="en">
	<head>
		<title> Spam Review Detection </title>

		 {{> includes}}

	</head>
	<body>

	<div class="container">
			{{> header}}
			<div class="row">
				<div class="col-md-12">
				<h3> Review List </h3>
					<table class="table table-hover">
						<th id="sort_rid" class="sortable"> Review id </th>
						<th id="sort_uid" class="sortable"> User id </th>
						<th id="sort_pid" class="sortable"> Product id </th>
						<th id="sort_date" class="sortable"> Date </th>
						<th id="sort_help" class="sortable"> Helpfullness </th>
						<th id="sort_summary" class="sortable"> Summary </th>
						<th id="sort_score" class="sortable"> Score </th>
						<th id="sort_hon" class="sortable"> Honesty </th>
						<tbody id="reviews_list">
						{{#tab}}
							<tr class="clickable_row" data-url="/review/{{rid}}">
								<td>{{rid}}</td>
								<td>{{uid}}</td>
								<td>{{pid}}</td>
								<td>{{date}}</td>
								<td>{{help}}/{{nbhelp}}</td>
								<td class="truncatable">{{summary}}</td>
								<td>{{score}}</td>
								<td class="score_field">{{hon}}</td>
							</tr>
						{{/tab}}
					</tbody>
					</table>
				</div>
			</div>
			<ul class="pager">
  				<li id="show_more" class="clickable_gen"><a>More</a></li>
			</ul>
		    {{> footer }}
	</div>
  
  {{=<% %>=}}
  	<script id="row-template" type="text/x-handlebars-template">
	  	{{#tab}}
	  		<tr class="clickable_row" data-url="/review/{{rid}}">
				<td>{{rid}}</td>
				<td>{{uid}}</td>
				<td>{{pid}}</td>
				<td>{{date}}</td>
				<td>{{help}}/{{nbhelp}}</td>
				<td class="truncatable">{{summary}}</td>
				<td>{{score}}</td>
				<td class="score_field">{{hon}}</td>
			</tr>
		{{/tab}}
	</script>
	<%={{ }}=%>

	<script type="text/javascript" src=/js/reviews.js> </script>

	</body>
</html>
