<!doctype html>
<html lang="en">
	<head>
		<title> Spam Review Detection </title>

		 {{> includes}}

	</head>
	<body>

	<div class="container">
			{{> header}}
			<div class="row">
				<div class="col-md-12">
				<h3> Review List </h3>
					<table class="table table-hover">
						<th> Review id </th>
						<th> User id </th>
						<th> Product id </th>
						<th> Date </th>
						<th> Helpfullness </th>
						<th> Summary </th>
						<th> Score </th>
						<th> Honesty </th>

						{{#tab}}
							<tr>
								<td>{{rid}}</td>
								<td>{{uid}}</td>
								<td>{{pid}}</td>
								<td>{{date}}</td>
								<td>{{help}}/{{nbhelp}}</td>
								<td>{{summary}}</td>
								<td>{{score}}</td>
								<td class="score_field">{{hon}}</td>
							</tr>
						{{/tab}}
					</table>
				</div>
			</div>
		    {{> footer }}
	</div>
  

	</body>
</html>
