<!doctype html>
<html lang="en">
	<head>
		<title> Spam Review Detection </title>

		 {{> includes}}

	</head>
	<body>
		<div class="container">
			{{> header}}

				{{#reviewInfo}}
					<h2 class="page-header">
						 <span class="glyphicon glyphicon-pencil"></span>
						 {{score}}/5 - {{summary}} <small>#{{ rid }}</small>
					</h2>
				
					<ul>
						<li>Honesty Score: <span class="label label-danger"> {{hon}} </span></li>
						<li>Agreement Score: <span class="label label-danger"> {{agr}} </span></li>
						<li>Considered helpfull by {{help}} on {{nbhelp}}</li>
						<li>Number of Exact Duplicates: {{nb_exact_dupes}}</li>
						<li>Number of (suspected) Near Duplicates: {{nb_near_dupes}}</li>
					</ul>
				{{/reviewInfo}}

				<h3>
					{{ nb_exact_dupes }} Exact Duplicates
				</h3>
				
				<table class="table table-hover">
					<th> Review id </th>
					<th> Product id </th>
					<th> User id </th>
					<th> Date </th>
					<th> Helpfullness </th>
					<th> Summary </th>
					<th> Score </th>
					<th> Honesty </th>

					{{#reviewExactDuplicates}}
						<tr>
							<td>{{rid}}</td>
							<td>{{pid}}</td>
							<td>{{date}}</td>
							<td>{{help}}/{{nbhelp}}</td>
							<td>{{summary}}</td>
							<td>{{score}}</td>
							<td class="score_field">{{hon}}</td>
						</tr>
					{{/reviewExactDuplicates}}
				</table>

				<h3>
					{{ nb_near_dupes }} Suspected Near Duplicates
				</h3>
				
				<table class="table table-hover">
					<th> Review id </th>
					<th> Product id </th>
					<th> User id </th>
					<th> Date </th>
					<th> Helpfullness </th>
					<th> Summary </th>
					<th> Score </th>
					<th> Honesty </th>

					{{#reviewNearDuplicates}}
						<tr>
							<td>{{rid}}</td>
							<td>{{pid}}</td>
							<td>{{date}}</td>
							<td>{{help}}/{{nbhelp}}</td>
							<td>{{summary}}</td>
							<td>{{score}}</td>
							<td class="score_field">{{hon}}</td>
						</tr>
					{{/reviewNearDuplicates}}
				</table>
				
				<h3>Review Text</h3>

				{{#reviewInfo}}
				<blockquote >
		  				<p class="text-justify">{{text}}</p>
		  				<footer>
		  					{{uname}} about <cite title="Source Title"> {{pname}}</cite>
		  				</footer>
				</blockquote>	
				{{/reviewInfo}}
			{{> footer }}
		</div>
	</body>
</html>
