<!doctype html>
<html lang="en">
	<head>
		<title> Spam Review Detection </title>

		 {{> includes}}

	</head>
	<body>

		<div class="container">
			{{> header}}

			{{#infoUser}}
				<span id="uid_save" style="display:none">{{ uid }}</span>
				<h2 class="page-header">
					<span class="glyphicon glyphicon-user"></span> 
					&nbsp{{ uname }} 
					<small>#{{ uid }}</small>
				</h2>

				<div class="row">
					<div class="col-md-5">
						
						<h3>User Trustiness</h3>
						<div class="big_score alert">
							{{tru}}
						</div>
					
			{{/infoUser}}
							<div id="userpie" style="height:200px;">
								<center><img id="graph_loader" src="/images/ajax-loader.gif" /></center>
							</div>
						</div>
					

					<div class="col-md-7"> 
						<h3>User Reviews</h3>
			
						<table class="table table-hover">
						
							<th id="sort_rid" class="sortable" > Review id </th>
							<th id="sort_pid" class="sortable"> Product id </th>
							<th id="sort_time" class="sortable"> Date </th>
							<th id="sort_score" class="sortable"> Score </th>
							<th id="sort_hon" class="sortable" > Honesty </th>

							<tbody id="review_list">
							</tbody>

						</table>

						<ul class="pager">
  							<li id="show_more" class="clickable_gen"><a>Load More</a></li>
						</ul>
					</div>

					
				</div>

				{{=<% %>=}}
					<script id="row-template" type="text/x-handlebars-template">
					{{#tab}}
						<tr class="clickable_row" data-url="/review/{{rid}}">
							<td>{{rid}}</td>
							<td>{{pid}}</td>
							<td>{{date}}</td>
							<td>{{score}}</td>
							<td class="score_field">{{hon}}</td>
						</tr>
					{{/tab}}
					</script>
				<%={{ }}=%>

			{{> footer }}
		<script type="text/javascript" src="/js/lib/hchart/highcharts.js"></script>
		<script type="text/javascript" src="/js/charts/scorepie.js"></script>
		<script type="text/javascript" src="/js/user.js"></script>
		<script type="text/javascript">
			bigScoreColor();
			
		</script>
	</body>
</html>
