<!doctype html>
<html lang="en">
	<head>
		<title> Spam Review Detection - Products </title>
		{{> includes}}
	</head>
	<body>	
	<div class="container">
		{{> header}}
		<div class="row">
				<div class="col-md-12">
				<h3> Products List </h3>
					<table class="table table-hover">
						<th id="sort_pid" class="sortable" > Product Id </th>
						<th id="sort_pname" class="sortable" > Name </th>
						<th id="sort_rel" class="sortable" > Reliability </th>
						<tbody id="products_list">
						{{#tab}}
							<tr class="clickable_row" data-url="/product/{{pid}}">
								<td>{{pid}}</td>
								<td>{{pname}}</td>
								<td class="score_field">{{rel}}</td>
							</tr>
						{{/tab}}
						</tbody>
					</table>
				</div>
			</div>
			<ul class="pager">
  				<li><a id="show_more" class="clickable_gen">More</a></li>
			</ul>
		{{> footer }}
	</div>
	</body>

	{{=<% %>=}}
		<script id="row-template" type="text/x-handlebars-template">
		{{#tab}}
		<tr class="clickable_row" data-url="/product/{{pid}}">
			<td>{{pid}}</td>
			<td>{{pname}}</td>
			<td class="score_field">{{rel}}</td>
		</tr>
		{{/tab}}
		</script>
	<%={{}}=%>
	<script type="text/javascript" src="/js/products.js"> </script>
</html>
