<!doctype html>
<html lang="en">
	<head>
		<title> Spam Review Detection - Products </title>
		{{> includes}}
	</head>
	<body>	
	<div class="container">
		{{> header}}
		<div class="row">
				<div class="col-md-12">
				<h3> Products List </h3>
					<table class="table table-hover">
						<th> Product Id </th>
						<th> Name </th>
						<th> Reliability </th>
						{{#tab}}
							<tr class="clickable_row" data-url="/product/{{pid}}">
								<td>{{pid}}</td>
								<td>{{pname}}</td>
								<td class="score_field">{{rel}}</td>
							</tr>
						{{/tab}}
					</table>
				</div>
			</div>
			<ul class="pager">
  				<li><a href="#">Previous</a></li>
  				<li><a href="#">Next</a></li>
			</ul>
		{{> footer }}
	</div>
	</body>



	 <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
	 <link rel="stylesheet" type="text/css" href="/css/style.css"/>
	 <script type="text/javascript" src="/js/jquery.min.js"></script>
	 <script type="text/javascript" src="js/bootstrap.min.js"></script>
</html>
