<!doctype html>
<html lang="en">
	<head>
		<title> Spam Review Detection </title>

		 {{> includes}}

	</head>
	<body>

	<div class="container">
			{{> header}}
			<div class="row">
				<div class="col-md-12">
				{{#data}}
				<h2 class="page-header"> <span class="glyphicon glyphicon-tags"></span> {{ pname }} <small>#{{ pid }}</small></h2>
				{{/data}}
				
					
		
				</div>
			</div>
		    {{> footer }}
	</div>
  

	</body>
</html>
