<!doctype html>
<html lang="en">
	<head>
		<title> Spam Review Detection </title>

		 {{> includes}}

	</head>
	<body>

	<div class="container">
			{{> header}}
			<div class="row">
				<div class="col-md-12">
				<h3> Product id n°{{pid}} </h3>
				
				
					
		
				</div>
			</div>
		    {{> footer }}
	</div>
  

	</body>
</html>
